@using MercuryShopping.Models.Tables
@{
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}

@{
    @model Product;

}

<head>
    <title>Edit A Product</title>
    <style>
        .body {
            overflow: hidden;
        }

        .EditProdForm {
            padding: 20px;
            margin: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            height: 90%;
            width: 60%;
            backdrop-filter: blur(3px);
        }


        .formLeft {
            padding-top: 4%;
            padding-bottom: 1%;
            padding-left: 5%;
            height: 70%;
            font-size: 1.15em;
            font-weight: 600;
            text-align: start;
        }

            .formLeft .inputTextField {
                width: 80%;
                height: 10%;
                padding: 2%;
                border: none;
                font-size: large;
                font-weight: 550;
                background-color: rgb(245, 243, 243);
                border-radius: 10px;
                box-shadow: 3px 5px 4px rgb(216, 179, 179);
                transition: 0.15s;
            }

                .formLeft .inputTextField:hover {
                    transform: scale(1.05);
                    background-color: rgb(170, 178, 185);
                }

            .formLeft .inputTextArea {
                width: 80%;
                height: 20%;
                padding: 2%;
                font-size: 1.5em;
                font-weight: 550;
                background-color: rgb(245, 243, 243);
                border-radius: 20px;
                border-bottom-right-radius: 5px;
                box-shadow: 3px 5px 4px rgb(216, 179, 179);
                transition: 0.15s;
            }

                .formLeft .inputTextArea:hover {
                    transform: scale(1.05);
                    background-color: rgb(202, 208, 214);
                }

        .submitButton {
            margin-left: 20%;
            margin-top: 10%;
            display: inline-block;
            padding: 10px 10px;
            background-color: #524d4d;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 34px;
        }

        .resetButton {
            display: inline-block;
            padding: 10px 10px;
            background-color: #978080;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 34px;
            margin-left: 10px;
        }

    </style>
</head>
<body>

    <form class="EditProdForm" action=@Url.Action("SaveChangesToEditedProduct", "Admin") method="post">
        <div class="formLeft">
            <p>Product Name</p>
            <input type="hidden" name="ProID" value="@Model.ProID" />
            <input type="hidden" name="Img1" value="@Model.Img1" />
            <input type="hidden" name="Img2" value="@Model.Img2" />
            <input type="hidden" name="Img3" value="@Model.Img3" />
            <input type="hidden" name="ProStatus" value="@Model.ProStatus" />
            <input type="hidden" name="AvgRating" value="@Model.AvgRating" />

            <input class="inputTextField"
                   type="text"
                   name="ProName"
                   id="prodName"
                   max="100"
                   value=@Model.ProName
                   required />
            <p>Unit Price</p>
            <input class="inputTextField"
                   type="number"
                   step="0.01"
                   name="UPrice"
                   id="uprice"
                   value=@Model.UPrice
                   required />
            <p>Catagory</p>
            <select class="inputTextField" name="CatagID" id="catag" required>
                <option value="1" @(Model.CatagID == 1 ? "selected" : "")>Cloths</option>
                <option value="2" @(Model.CatagID == 2 ? "selected" : "")>Electronics</option>
                <option value="3" @(Model.CatagID == 3 ? "selected" : "")>Beauty Supplies</option>
                <option value="4" @(Model.CatagID == 4 ? "selected" : "")>Sport and Fitness</option>
                <option value="5" @(Model.CatagID == 5 ? "selected" : "")>Books</option>
                <option value="6" @(Model.CatagID == 6 ? "selected" : "")>Computer and Accessories</option>
                <option value="7" @(Model.CatagID == 7 ? "selected" : "")>Furniture</option>
                <option value="8" @(Model.CatagID == 8 ? "selected" : "")>Stationary Supplies</option>
                <option value="9" @(Model.CatagID == 9 ? "selected" : "")>Other</option>
            </select>

            <p>Stock Update</p>
            <input class="inputTextField"
                   name="Qty"
                   id="stock"
                   type="number"
                   step="1"
                   max="10000"
                   value=@Model.Qty
                   required />
            <p>Description</p>
            <textarea name="ProDesc"
                      id="textArea"
                      class="inputTextArea"
                      cols="35"
                      rows="5"
                      placeholder="Product Description Here!"
                      required>@Model.ProDesc
             </textarea>
        </div>
        <div class="formRight">
            <input class="submitButton"
                   type="submit"
                   value="Save"
                   name="EditProd" />
            <button class="resetButton"
                    onclick='() => { window.location.href = "Admin/SearchProducts"; }()'>
                Return
            </button>
        </div>
    </form>
</body>